iframe.studieplan {
	width: 1150px;
	height: 600px;
	margin-left:-10%;
}

@media only screen and (max-width: 1200px) {
	iframe.studieplan {
		width: 100%;
		max-width: 995px;
		height: 500px;
		margin-left: 0%;
	}
}




