<!-- Søgefunktionalitet -->
<form (ngSubmit)="getTopCourse()"
	  [formGroup]="courseSearchForm">
	<label for="course-search"><h5>Søg efter kurser:</h5></label>
	<mat-form-field>
		<input id="course-search"
				matInput
				formControlName="searchBar"
				(input)="updateSearchResults($event.data)"
				placeholder="Kursusnr. eller -navn">
	</mat-form-field>
</form>

<!-- Viser kursusinfo -->
<div *ngIf="currentCourse">
	<!-- Studieplanlæggeren -->
	<a (click)="showStudieplan=!showStudieplan">
		{{showStudieplan ? "Skjul" : "Vis"}} studieplan
	</a>
	<iframe *ngIf="showStudieplan" class="studieplan" src="https://studieplan.dtu.dk"></iframe>
</div>

<!-- Viser søgeresultater -->
<div *ngIf="!currentCourse && courseSearchForm.valid" class="table--responsive-scroll">
	<table class="table table--zebra">
		<tr>
			<th>Nummer</th>
			<th>Navn</th>
			<th>ECTS</th>
			<th>Sprog</th>
			<th>Skemaplacering</th>
			<th>Niveau</th>
		</tr>
		<tr *ngFor="let course of searchResults">
			<td><a href="javascript:void(0)" (click)="getCourse(course.info.number)">123</a></td>
			<td>{{course.info.name}}</td>
			<td>{{course.info.ECTS}}</td>
			<td>{{course.info.language}}</td>
			<td>{{course.info.time}}</td>
			<td>{{course.info.level}}</td>
		</tr>
	</table>
</div>
<!-- <plotly [data]="data" [layout]="layout"></plotly> -->
  



