<!-- Søgefunktionalitet -->
<form (ngSubmit)="getTopCourse()"
	  [formGroup]="courseSearchForm"
	  class="form form-group">
	<label for="course-search" class="form-label">
		Søg efter kursus, enten med kursusnummer eller -navn:
	</label><br>
	<table>
		<td>
			<input id="course-search"
				   formControlName="searchBar"
				   placeholder="Kursusnummer eller -navn"
				   class="form-input">
		</td>
		<td>
			<button class="button button-primary"
					type="submit"
					[disabled]="courseSearchForm.invalid"
					style="float:left">Søg</button>
		</td>
	</table>
</form>

<!-- Viser kursusinfo -->
<div *ngIf="!isSearching">

</div>

<!-- Viser søgeresultater -->
<div *ngIf="isSearching && courseSearchForm.valid">
	asd
</div>
<plotly [data]="data" [layout]="layout"></plotly>
