<div class="content">
  <h1 class="section">DTU Kursusoversigt</h1>
  <div class="container pb-8">
    <ul class="tabnav">
      <li>
        <a class="nav-link" [routerLink]="['course']" routerLinkActive="active">Kursus</a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="['statistics']" routerLinkActive="active">Statistikker</a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="['overview']" routerLinkActive="active">Kursusoversigt</a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="['docs']" routerLinkActive="active">Dokumentation</a>
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>


