<h5>Kernetal for {{course.info.course_no}} {{course.info.name}}</h5>
<div class="table--responsive-scroll" style="max-width: 50%">
	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th>Værdi</th>
				<th>Percentil</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Karaktergennemsnit</th>
				<td style="text-align: right">{{getGrades(course).exam_avg}}</td>
				<td style="text-align: right">{{getGrades(course).exam_avg}}</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- Studieplanlæggeren -->
<p><a (click)="showCourseDescription=!showCourseDescription">
	{{showCourseDescription ? "Luk" : "Vis"}} kursusbeskrivelse
</a></p>
<iframe *ngIf="showCourseDescription"
		[src]="('https://kurser.dtu.dk/course/' + course.info.course_no) | safe"
		style="width:100%;height:500px"></iframe>
<p><a (click)="showStudieplan=!showStudieplan">
	{{showStudieplan ? "Luk" : "Åbn"}} din studieplan
</a></p>
<iframe *ngIf="showStudieplan" class="studieplan" src="https://studieplan.dtu.dk"></iframe>